<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- <servers> -->
    <!-- paste maven package feed credentials section here !-->
  <!-- </servers> -->
  <servers>
    <server>
      <id>jatinbhalla191991</id>
      <username>jatinbhalla191991</username>
      <password>frbbovvkrfl6hesdnx4ukxyf2q2u37n2rg6zo6uifiusq6uv5ksa</password>
    </server>
  </servers>
</settings>